{% extends "layout_base.html" %}

{% block head_title %}Detalles Curso{% endblock%}
{% block page_content%}
    <article id="{{course.pk}}">
        {% if course.course_img %}
            <picture>
                <img src="{{course.course_img.thumbnails.large.url}}" alt="">
            </picture>
        {% endif%}
        <h1>{{course.title}}</h1>
        <p>Fecha de publicación: {{ course.created_at}} </p>
        <div>
            {{course.content|safe}}
        </div>
        {% if course.toc %}
        <p><a href="{{course.toc.urls}}">Descarga el temario</a></p>
        {% endif %}
        <p><a href="{% url 'courses:course_list' %}">Volver al listado de cursos</a></p>
    <article>
    
{% endblock %}