{% extends "layout_base.html" %}

{% block head_title %}Detalles Post{% endblock%}
{% block page_content%}

    <article id="{{post.pk}}">
        {% if post.created_by == request.user %}
        <ul>
            <li><a href="{% url 'blog:post_update' post.pk %}">Editar Post</a></li>
            <li><a href="{% url 'blog:post_delete' post.pk %}">Eliminar Post</a></li>
        </ul>
        {% endif %}
        <h1>{{post.title}}</h1>
        {% if post.blog_img %}
            <picture>
                <img src="{{post.blog_img.thumbnails.large.url}}" alt="">
            </picture>
        {% endif%}    
        <p>Fecha de publicación: {{ post.created_at}} </p>
        <div>
            {{post.content|safe}}
        </div>
        <p><a href="{% url 'blog:posts_list' %}">Volver a las noticias</a></p>
    <article>
    
{% endblock %}