{% extends "layout_base.html" %}

{% block head_title %}Detalles Blog{% endblock%}
{% block page_content%}
    <article id="{{post.pk}}">
        <h1>{{ titulo }}</h1>
        {% if post.blog_img %}
            <picture>
                <img src="{{post.blog_img.thumbnails.large.url}}" alt="">
            </picture>
        {% endif%}
        <h1>{{post.title}}</h1>
        <p>Fecha de publicación: {{ post.created_at}} </p>
        <div>
            {{post.content|safe}}
        </div>
        <p><a href="{% url 'blog:posts_list_ccbv' %}">Volver a las noticias</a></p>
    <article>
    
{% endblock %}