{% for project in projects %}
        <article id="{{project.pk}}">
            <h2>{{project.title}}</h2>
            {% if project.project_img %}
                <picture>
                    <img src="{{project.project_img.thumbnails.small.url}}" alt="">
                </picture>
            {% endif%}
            <p>Fecha de publicación: {{ project.created_at}} </p>
            {% if project.github_url %}
                <p>Ver en GitHub: <a href="{{project.github_url}}" target="_blank">{{project.github_url}}</a></p>
            {% endif %}
            <p><a href="{% url 'projects:project_detail' project.pk%}"> Ver proyecto</a></p>
        <article>
    {% endfor %}