{% for project in projects %}
        <article id="{{project.pk}}">
            <h2>{{project.title}}</h2>
            {% if project.project_img %}
                <picture>
                    <img src="{{project.project_img.thumbnails.small.url}}" alt="">
                </picture>
            {% endif%}
            <p>Fecha de publicación: {{ project.created_at}} </p>
            <div>
                {{project.content|truncatechars:100|safe}}...
            </div>
            <p><a href="{% url 'projects:project_detail' project.pk%}"> Ver proyecto completo</a></p>
        <article>
    {% endfor %}